#solifytext {
    width: 170px;
    height: 170px;
    position: fixed;
    top:50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    animation: textrotate 6s infinite linear;
    z-index: 1;
}

#logo {
    height:100px;
    width:100px;
    position: fixed;
    top:48%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    animation: animate 1s alternate infinite;
    z-index: 2;
}
@keyframes textrotate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    
}
@keyframes animate {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(-50%, -50%) translateY(8px);
    }
}
.image,.maintitle,.div2{
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes CSSscrollReveal {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
